#note-list-container {
    display: inline-grid;
    padding: 20px;
    border: 5px solid black;
    grid-template-columns: auto;
    height: 100%;
    width: 45%;
    float: left;
    /* overflow: scroll;
    position: absolute; */
}


#note-panel-container {
    display: inline-grid;
    padding: 20px;
    border: 5px solid black;
    grid-template-columns: auto;
    height: 100%;
    width: 45%;
    float: right;
    position: fixed;
}

.submission-field {
    width: 500px;
    height: 200px;
    border: 1px solid;
    word-wrap: break-word;
    word-break: break-all;
}